.ui.grid.stackable.items
  .item
    .ui.small.image
      img(src='/images/wireframe/image.png')
    .middle.aligned.content
      .header
        | Content A
      .description
        p
      .extra
        .ui.right.floated.button
          | Action
  .item
    .ui.small.image
      img(src='/images/wireframe/image.png')
    .middle.aligned.content
      .header
        | Content B
      .description
        p
      .extra
        .ui.right.floated.button
          | Action
  .item
    .ui.small.image
      img(src='/images/wireframe/image.png')
    .middle.aligned.content
      .header
        | Content C
      .description
        p
      .extra
        .ui.right.floated.button
          | Action
