mixin seccion(seccion)
  h2 #{seccion}
  .ui.grid.stackable
    .eight.wide.column
      h3 Nota muy chida sobre algo muy importante en la industria
      p Pues paso algo por ahi....
    .eight.wide.column
      h3 Nuevas tecnologias
      p Pues paso algo por ahi....
    .eight.wide.column
      h3 Nota muy chida sobre algo muy importante en la industria
      p Pues paso algo por ahi....
    .eight.wide.column
      h3 Articulo muy relevante sobre nuevas tecnologias
      p Pues paso algo por ahi....
    .sixteen.wide.column
      h3 todo
              