h2.ui.header
  i.file.text.outline.icon
  .content <a href="/noticias/index.html">Articulos</a>
    .sub.header Aprende con el contenido de la comunidad
.ui.grid.stackable.items
  .eight.wide.column.item
    .image
      img(src='/images/wireframe/image.png')
    .content
    a.header Header
    .meta
      span <a href="http://example.com">Grails 3.0: Construido en Spring Boot y Gradle</a>
    .description
      p por <a href="/profile/neodevelop">José Juan Reyes Zuñiga</a> el 1 de Mayo
    .extra
      p extra
  