h2.ui.header
  i.newspaper.icon
  .content <a href="/noticias/index.html">Noticias</a>
    .sub.header La actualidad sobre Spring Framework
.ui.grid.stackable
  .eight.wide.column
    h3.ui.header <a href="http://example.com">Grails 3.0: Construido en Spring Boot y Gradle</a>
    p por <a href="/profile/neodevelop">José Juan Reyes Zuñiga</a> el 1 de Mayo
  .eight.wide.column
    h3.ui.header <a href="http://example.com">Spring Security 4.0: WebSocket, Spring Data y Test Support</a>
    p por <a href="/profile/domix">Domingo Suarez Torres</a> el 30 de Abril
  .eight.wide.column
    h3.ui.header <a href="http://example.com">Gradle 2.4-rc-1 disponible para ser probado por la comunidad</a>
    p por <a href="/profile/neodevelop">José Juan Reyes Zuñiga</a> el 25 de Abril
  .eight.wide.column
    h3.ui.header <a href="http://example.com">Spring XD 1.1: Simplificando Big Data como Spring lo hizo para Java EE</a>
    p por <a href="/profile/domix">Domingo Suarez Torres</a> el 20 de Abril
  .sixteen.wide.column
    h3 todo